# 1.Bank Loan Modelling

__1. Logistic Regreession__

In [ ]:
import pandas as pd

_Here First importing the libraries_

In [13]:
dataset=pd.read_csv(r'/home/jagdeep/Desktop/LetsUpgrade/Dataset/Loan.csv')

_Reading thi file from my drive location_

In [14]:
dataset.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

_Here by default 5 row is printing_

In [15]:
dataset.drop(['ID','ZIP Code'],axis=1, inplace=True)
dataset.head()

,Age,Experience,Income,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,25,1,49,4,1.6,1,0,0,1,0,0,0
1,45,19,34,3,1.5,1,0,0,1,0,0,0
2,39,15,11,1,1.0,1,0,0,0,0,0,0
3,35,9,100,1,2.7,2,0,0,0,0,0,0
4,35,8,45,4,1.0,2,0,0,0,0,0,1

_droping the un importanat variavle (removed ID and Zip code columns)_

In [17]:
dataset.isnull().sum().sum()

0

_here checked if dataset contain null values or not, so it give 0 .i.e no null value in this dataset_

In [24]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Age                 5000 non-null   int64
 1   Experience          5000 non-null   int64
 2   Income              5000 non-null   int64
 3   Family              5000 non-null   int64
 4   CCAvg               5000 non-null   float64
 5   Education           5000 non-null   int64
 6   Mortgage            5000 non-null   int64
 7   Personal Loan       5000 non-null   int64
 8   Securities Account  5000 non-null   int64
 9   CD Account          5000 non-null   int64
 10  Online              5000 non-null   int64
 11  CreditCard          5000 non-null   int64
dtypes: float64(1), int64(11)
memory usage: 468.9 KB

_here checked that dataset contain what all data types and count of it_

In [25]:
dataset.describe()

,Age,Experience,Income,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.00000,5000.000000,5000.000000
mean,45.338400,20.104600,73.774200,2.396400,1.937938,1.881000,56.498800,0.096000,0.104400,0.06040,0.596800,0.294000
std,11.463166,11.467954,46.033729,1.147663,1.747659,0.839869,101.713802,0.294621,0.305809,0.23825,0.490589,0.455637
min,23.000000,-3.000000,8.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
25%,35.000000,10.000000,39.000000,1.000000,0.700000,1.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
50%,45.000000,20.000000,64.000000,2.000000,1.500000,2.000000,0.000000,0.000000,0.000000,0.00000,1.000000,0.000000
75%,55.000000,30.000000,98.000000,3.000000,2.500000,3.000000,101.000000,0.000000,0.000000,0.00000,1.000000,1.000000
max,67.000000,43.000000,224.000000,4.000000,10.000000,3.000000,635.000000,1.000000,1.000000,1.00000,1.000000,1.000000

_This describe method list all quartiles value, min , max , count value to understand more the problem_

In [27]:
Y=dataset['Personal Loan']

_This is our target variable which we have to predict , this is the result of our problem set and dependent variable_

In [28]:
X=dataset[['Age','Experience','Income']]

_this is the independent variable,here by using this all variable we can predict if the person is eligible for peronal loan or not_

In [29]:
import statsmodels.api as sm

In [31]:
X1=sm.add_constant(X)

In [32]:
Logistic=sm.Logit(Y,X1)

In [33]:
result=Logistic.fit()

Optimization terminated successfully.
         Current function value: 0.200242
         Iterations 8

_Here applying the Logistic Regression model to predict our result_

In [34]:
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:          Personal Loan   No. Observations:                 5000
Model:                          Logit   Df Residuals:                     4996
Method:                           MLE   Df Model:                            3
Date:                Sat, 08 Aug 2020   Pseudo R-squ.:                  0.3667
Time:                        16:44:04   Log-Likelihood:                -1001.2
converged:                       True   LL-Null:                       -1581.0
Covariance Type:            nonrobust   LLR p-value:                4.220e-251
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const        -10.8405      1.295     -8.369      0.000     -13.379      -8.302
Age            0.1793      0.049      3.640      0.000       0.083       0.276
Experience    -0.1735      0.049     -3.510      0.000      -0.270      -0.077
Income         0.0378      0.001     26.903      0.000       0.035       0.041
==============================================================================
"""

_By using this result summary method , we can check and come to know which all variable affects the result. Here Age,Experiences and Income are giving p= result, if p>0.5 then eligibility of peronal loan is yes._

__2 .Linear Regression__

In [41]:
import matplotlib.pyplot as plt
import numpy as np
from sklearn import datasets, linear_model
import pandas as pd

In [42]:
df=dataset
df.head()

,Age,Experience,Income,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,25,1,49,4,1.6,1,0,0,1,0,0,0
1,45,19,34,3,1.5,1,0,0,1,0,0,0
2,39,15,11,1,1.0,1,0,0,0,0,0,0
3,35,9,100,1,2.7,2,0,0,0,0,0,0
4,35,8,45,4,1.0,2,0,0,0,0,0,1

In [61]:
reg = linear_model.LinearRegression()
reg.fit(df.drop('Personal Loan',axis='columns'),df['Personal Loan'])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [62]:
reg.coef_

array([-5.70047557e-03,  6.19095418e-03,  3.00153836e-03,  3.33349868e-02,
        1.19711233e-02,  7.95690631e-02,  6.48260053e-05, -6.03868803e-02,
        3.29487553e-01, -2.64371055e-02, -4.52028646e-02])

In [63]:
reg.intercept_

-0.2323969143009144

In [73]:
reg.predict([[30,20,155,4,3.0,2,0,0,0,0,0]])

array([0.51403779])

# 2.Attrition Analysis

__1.Logistic Regression__

In [170]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn import preprocessing

In [171]:
dataset1=pd.read_csv(r'/home/jagdeep/Desktop/LetsUpgrade/Dataset/general_data.csv')
dataset1.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [172]:
dataset1.drop(['EmployeeCount','EmployeeID'],axis=1, inplace=True)
dataset1.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,Gender,JobLevel,JobRole,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,Female,1,Healthcare Representative,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,Female,1,Research Scientist,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,Male,4,Sales Executive,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,Male,3,Human Resources,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,Male,1,Sales Executive,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [173]:
dataset1.isnull().sum().sum()

28

In [174]:
dataset1.fillna(0, inplace=True)

In [175]:
dataset1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 22 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      4410 non-null   int64
 1   Attrition                4410 non-null   object
 2   BusinessTravel           4410 non-null   object
 3   Department               4410 non-null   object
 4   DistanceFromHome         4410 non-null   int64
 5   Education                4410 non-null   int64
 6   EducationField           4410 non-null   object
 7   Gender                   4410 non-null   object
 8   JobLevel                 4410 non-null   int64
 9   JobRole                  4410 non-null   object
 10  MaritalStatus            4410 non-null   object
 11  MonthlyIncome            4410 non-null   int64
 12  NumCompaniesWorked       4410 non-null   float64
 13  Over18                   4410 non-null   object
 14  PercentSalaryHike        4410 non-null   int64
 15  StandardHours            4410 non-null   int64
 16  StockOptionLevel         4410 non-null   int64
 17  TotalWorkingYears        4410 non-null   float64
 18  TrainingTimesLastYear    4410 non-null   int64
 19  YearsAtCompany           4410 non-null   int64
 20  YearsSinceLastPromotion  4410 non-null   int64
 21  YearsWithCurrManager     4410 non-null   int64
dtypes: float64(2), int64(12), object(8)
memory usage: 758.1+ KB

In [176]:
dataset1.describe().T

,count,mean,std,min,25%,50%,75%,max
Age,4410.0,36.923810,9.133301,18.0,30.0,36.0,43.0,60.0
DistanceFromHome,4410.0,9.192517,8.105026,1.0,2.0,7.0,14.0,29.0
Education,4410.0,2.912925,1.023933,1.0,2.0,3.0,4.0,5.0
JobLevel,4410.0,2.063946,1.106689,1.0,1.0,2.0,3.0,5.0
MonthlyIncome,4410.0,65029.312925,47068.888559,10090.0,29110.0,49190.0,83800.0,199990.0
NumCompaniesWorked,4410.0,2.683220,2.499737,0.0,1.0,2.0,4.0,9.0
PercentSalaryHike,4410.0,15.209524,3.659108,11.0,12.0,14.0,18.0,25.0
StandardHours,4410.0,8.000000,0.000000,8.0,8.0,8.0,8.0,8.0
StockOptionLevel,4410.0,0.793878,0.851883,0.0,0.0,1.0,1.0,3.0
TotalWorkingYears,4410.0,11.256916,7.790928,0.0,6.0,10.0,15.0,40.0
TrainingTimesLastYear,4410.0,2.799320,1.288978,0.0,2.0,3.0,3.0,6.0
YearsAtCompany,4410.0,7.008163,6.125135,0.0,3.0,5.0,9.0,40.0
YearsSinceLastPromotion,4410.0,2.187755,3.221699,0.0,0.0,1.0,3.0,15.0
YearsWithCurrManager,4410.0,4.123129,3.567327,0.0,2.0,3.0,7.0,17.0

In [185]:
label_encoder=preprocessing.LabelEncoder()

In [186]:
encoded_att=label_encoder.fit_transform(dataset1["Attrition"])

_Here we applied label encoder method to convert string variable into numerical variable. By encoding we can find the result of our __Attrition__ project_

In [187]:
Y=pd.DataFrame(encoded_att)

In [188]:
X=dataset1[['Age','DistanceFromHome','Education','JobLevel','MonthlyIncome','NumCompaniesWorked','PercentSalaryHike','StandardHours','StockOptionLevel','TotalWorkingYears','TrainingTimesLastYear','YearsAtCompany','YearsSinceLastPromotion','YearsWithCurrManager']]

In [189]:
import statsmodels.api as sm

In [190]:
X1=sm.add_constant(X)

In [191]:
Logistic=sm.Logit(Y,X1)

In [192]:
result=Logistic.fit()

Optimization terminated successfully.
         Current function value: 0.406908
         Iterations 7

In [193]:
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                      0   No. Observations:                 4410
Model:                          Logit   Df Residuals:                     4396
Method:                           MLE   Df Model:                           13
Date:                Sat, 08 Aug 2020   Pseudo R-squ.:                 0.07876
Time:                        21:04:01   Log-Likelihood:                -1794.5
converged:                       True   LL-Null:                       -1947.9
Covariance Type:            nonrobust   LLR p-value:                 8.984e-58
===========================================================================================
                              coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------------
Age                        -0.0360      0.007     -5.351      0.000      -0.049      -0.023
DistanceFromHome           -0.0029      0.005     -0.540      0.589      -0.013       0.008
Education                  -0.0542      0.042     -1.303      0.193      -0.136       0.027
JobLevel                   -0.0318      0.039     -0.818      0.414      -0.108       0.044
MonthlyIncome           -2.258e-06   9.38e-07     -2.406      0.016    -4.1e-06   -4.18e-07
NumCompaniesWorked          0.1063      0.018      5.919      0.000       0.071       0.142
PercentSalaryHike           0.0134      0.012      1.164      0.244      -0.009       0.036
StandardHours               0.0804      0.043      1.890      0.059      -0.003       0.164
StockOptionLevel           -0.0487      0.050     -0.963      0.335      -0.148       0.050
TotalWorkingYears          -0.0539      0.012     -4.674      0.000      -0.077      -0.031
TrainingTimesLastYear      -0.1334      0.035     -3.854      0.000      -0.201      -0.066
YearsAtCompany              0.0011      0.018      0.062      0.951      -0.034       0.036
YearsSinceLastPromotion     0.1234      0.020      6.118      0.000       0.084       0.163
YearsWithCurrManager       -0.1278      0.022     -5.913      0.000      -0.170      -0.085
===========================================================================================
"""

_By using this result summary method , we can check and come to know which all variable affects the result. Here Age,DistanceFromHome, Education are giving p= result, which says... that if p>0.5 then Attrition of Employee is yes._

# 3.Real Estate Analysis

__1.Linear Regression__

In [194]:
dataset2=pd.read_excel(r'/home/jagdeep/Desktop/LetsUpgrade/Dataset/Linear Regression.xlsx')
dataset2.head()

    price  sqft_living  bedrooms  bathrooms  floors
0  221900         1180         3       1.00     1.0
1  538000         2570         3       2.25     2.0
2  180000          770         2       1.00     1.0
3  604000         1960         4       3.00     1.0
4  510000         1680         3       2.00     1.0

__Here dependent varaiable is price and independent varaiable are sqft_living, bedrooms, bathrooms, floor__

__price = m1*sqft_living + m2*bedrooms + m3*bathrooms + m4*floors__

__formula for multiple linear regression is : y= m1x1 + m2x2 + m3x3 + m4x4 + b__

In [195]:
dataset2.isnull().sum().sum()

0

_Here checked if our dataset conatins null value or not_

In [196]:
reg = linear_model.LinearRegression()
reg.fit(dataset2.drop('price',axis='columns'),dataset2.price)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [197]:
reg.coef_

array([   309.39322755, -57847.96368561,   7853.52348278,    200.49434887])

In [198]:
reg.intercept_

74669.67652324564

__Example: Find price of home with 3000 sqr ft area, 3 bedrooms, 2 bathrooms and 2 floors__

In [209]:
print("Price Prediction of new Room :",reg.predict([[3000, 3, 2.0, 2.0]]))

Price Prediction of new Room : [845413.50378747]