Q.1 Assuming that we have some email addresses in the "username@companyname.com" format, please write program to print the company name of a given email address. Both user names and company names are composed of letters only.
Input Format:The first line of the input contains an email address.
Output Format:Print the company name in single line.
Example:-Input:
john@google.com

Output:google

In [1]:
# s1=input("Enter your string :")
# c1=s1.index('@')
# c2=s1.index('.')
# print(s1[c1+1:c2])
s2=input("Enter your email id :")
c3=s2.split('@')
c4=c3[1].split('.')
print('Company Name :',c4[0])

Enter your email id :jagdeep@tcs.com
Company Name : tcs

Q.2 Write a program that accepts a comma-separated sequence of words as input and prints the words in a commaseparated sequence after sorting them alphabetically.

Input Format:The first line of input contains words separated by the comma
Output Format:Print the sorted words separated by the comma.
Example:Input:without,hello,bag,world
Output:bag,hello,without,world

In [6]:
userip=['walk','save','aim','deep','ocean','zoo']
userip.sort()
print(userip)

['aim', 'deep', 'ocean', 'save', 'walk', 'zoo']

In [9]:
#here program with user input
myinput = input("Enter comma separated sequence of words")
a = [word for word in myinput.split(",")]
print("Sorted result are :",",".join(sorted(list(set(a)))))

Enter comma separated sequence of wordswalk,save,aim,deep,zoo,ocean
Sorted result are : aim,deep,ocean,save,walk,zoo

Q.3 Create your own Jupyter Notebook for Sets.
Reference link: https://www.w3schools.com/python/python_sets.asp

__Set-:
A set is a collection which is unordered and unindexed. In Python sets are written with curly brackets.__

In [10]:
myset = {"android", "java", "python"}
print(myset) 

## Note: the set list is unordered, meaning: the items will appear in a random order.

{'python', 'android', 'java'}

In [12]:
#Accessing items
for x in myset:
  print(x)

python
android
java

In [13]:
print("python" in myset)

True

In [15]:
#Adding an item to set, using the add() method
myset.add("orange")
myset.add("php")

print(myset)

{'python', 'orange', 'android', 'java', 'php'}

In [16]:
#To add multiple item to set , use update() method
myset.update(["SQL",".Net","Ruby","C"])
print(myset)

{'python', 'orange', 'Ruby', 'SQL', 'android', 'java', '.Net', 'php', 'C'}

In [18]:
#Now get the length of set
print(len(myset))

9

In [19]:
#To remove item from set use , remove() and discard() method
myset.remove("orange")
print(myset)

{'python', 'Ruby', 'SQL', 'android', 'java', '.Net', 'php', 'C'}

In [20]:
#To remove last item using pop() method
x = myset.pop()
print(x)
print(myset)

python
{'Ruby', 'SQL', 'android', 'java', '.Net', 'php', 'C'}

In [21]:
#clear method empty the set
newset = {"air", "book", "pen"}

newset.clear()

print(newset)

set()

In [23]:
# Delete set, delete the set completely, del() method
newset = {"apple", "banana", "cherry"}

del newset

print(newset) 

 #this will raise an error because the set no longer exists

NameError: name 'newset' is not defined

In [24]:
# The union() method , add a new set with all items from both sets:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 'c', 'b', 2, 3, 'a'}

In [26]:
# The update() method inserts the items in set2 into set1:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 'c', 'b', 2, 3, 'a'}

Q.1 Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.

Input Format:The first line contains n-1 numbers with each number separated by a space.Output Format:Print the missing numberExample:Input:1 2 4 6 3 7 8Output:5

In [30]:
a = int(input('Enter the n: '))
N_sum = a*(a+1)/2

temp_sum = 0

for i in range(0,a-1):
    temp = int(input('Number the input: '))
    temp_sum = temp_sum + temp

print('Missing number: %d' %(N_sum-temp_sum))

Enter the n: 10
Number the input: 1
Number the input: 2
Number the input: 3
Number the input: 5
Number the input: 6
Number the input: 7
Number the input: 8
Number the input: 9
Number the input: 10
Missing number: 4

Q.5 With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.

Example:If the input list is12 24 35 24 88 120 155 88 120 155Then the output should be12 24 35 88 120 155

In [34]:
a1 = input()
a=[b for b in a1.split(",")]
dup_items = set()
uniq_items = []
for x in a:
    if x not in dup_items:
        uniq_items.append(x)
        dup_items.add(x)

print(dup_items)

10,20,30,20,10,50,60,40,80,50,40
{'80', '30', '50', '60', '10', '40', '20'}