Q.1 Research on whether addition, subtraction, multiplication, division, floor division and modulooperations be performed on complex numbers. Based on your study, implement a Pythonprogram to demonstrate these operations.

In [3]:
#PEMDAS
a=4+8j
b=2+4j
c=a-b
c

(2+4j)

In [5]:
2*(2+4)+4-2/2+(2**3)

23.0

In [7]:
20%2+(4*2)+(16+4j-8+2j)+4/2+4**2

(34+6j)

In [22]:
(16+4j-8+2j)

(8+6j)

Q.2 Research on range() functions and its parameters. Create a markdown cell and write in your ownwords (no copy-paste from google please) what you understand about it. Implement a smallprogram of your choice on the same
 
__Syntax__ for range():

range([start], stop, [step])

__Example__

range(10) will generate 0,1,2,3,4,5,6,7,8,9

range(1,10) will generate 1,2,3,4,5,6,7,8,9

range(10,21,2) will generate 10,12,14,16,18,20

In [31]:
#print number from 0 to 100
for num in range(100):
    print(num, end=', ')
#for printing output in same line we use "end=','"

0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99,

In [34]:
x=range(1,5)
for num in x:
    print(num,end=',')

1,2,3,4,

In [26]:
x=range(5)
for num in x:
    print(num)

0
1
2
3
4

In [32]:
x=range(10,105,5)
for num in x:
    print(num,end=', ')

10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100,

Q.3 Consider two numbers. Perform their subtraction and if the result of subtraction is greater than25, print their multiplication result else print their division result.

In [36]:
a=50
b=20
c=a-b
if c>25:
    print("Multiplication of Number :",a*b)
else:
    print("Division of Number :",a/b)

Multiplication of Number : 1000

In [37]:
a=40
b=20
c=a-b
if c>25:
    print("Multiplication of Number :",a*b)
else:
    print("Division of Number :",a/b)

Division of Number : 2.0

Q.4 Consider a list of 10 elements of integer values. If the number in the list is divisible by 2, print the result as "square of that number minus 2".

In [45]:
l=[1,2,3,4,5,6,7,8,9,10]
for num in l:
    if num%2==0:
        print("Numbers divisble by 2 are :",num**2-2)
    else:
        print("Numbers not divisble by 2 are :",num,end=', ')

Numbers not divisble by 2 are : 1, Numbers divisble by 2 are : 2
Numbers not divisble by 2 are : 3, Numbers divisble by 2 are : 14
Numbers not divisble by 2 are : 5, Numbers divisble by 2 are : 34
Numbers not divisble by 2 are : 7, Numbers divisble by 2 are : 62
Numbers not divisble by 2 are : 9, Numbers divisble by 2 are : 98

Q.5 Consider a list of 10 elements. Print all the elements in the list which are greater than 7 when that number is divided 2.

In [63]:
l=[10,11,12,13,14,15,16,17,18,19,20]
for num in l:
    if num/2>7: 
        print("Numbers > 7 when that number is divided 2 are :",num)
    else:
        print("Numbers < 7 when that number is divided 2 are :",num)

Numbers < 7 when that number is divided 2 are : 10
Numbers < 7 when that number is divided 2 are : 11
Numbers < 7 when that number is divided 2 are : 12
Numbers < 7 when that number is divided 2 are : 13
Numbers < 7 when that number is divided 2 are : 14
Numbers > 7 when that number is divided 2 are : 15
Numbers > 7 when that number is divided 2 are : 16
Numbers > 7 when that number is divided 2 are : 17
Numbers > 7 when that number is divided 2 are : 18
Numbers > 7 when that number is divided 2 are : 19
Numbers > 7 when that number is divided 2 are : 20